@import 'variables';
@import 'flexbox';
@import 'fonts/bb';

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Arial';
}

div {
	color: $primary_color;
}

.button {
	padding: 12px;
	border-radius: $border_radius;
	background-color: $primary_color;
	color: $primary_offset_color;
	cursor: pointer;
	display: inline-block;

	&:hover {
		background-color: $primary_light;
	}

	&:active {
		background-color: $primary_dark;
	}
}

.main {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: $light_gray;
}

@import '../components/header';
@import '../components/chart_block';
@import '../components/title_toggle';
@import '../components/checkbox/checkbox';
