$primary_color: #82ABA1;
$primary_offset_color: white;
$seafoam: #A2C5AC;
$light_gray: #D8DDDE;
$gray: #D3D5D4;
$dark_gray: #6D696A;
$light_blue: #8EDCE6;
$green: #5B7553;
$lime_green: #A2FAA3;

$primary_dark: #649589;
$primary_light: #a6c3bc;

$border_radius: 6px;