@font-face {
  font-family: 'bb';
  src:  url('fonts/bb.eot?e91rmt');
  src:  url('fonts/bb.eot?e91rmt#iefix') format('embedded-opentype'),
    url('fonts/bb.ttf?e91rmt') format('truetype'),
    url('fonts/bb.woff?e91rmt') format('woff'),
    url('fonts/bb.svg?e91rmt#bb') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bb' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plug:before {
  content: "\e900";
}
.icon-home-improvement:before {
  content: "\e901";
}
.icon-shoes:before {
  content: "\e902";
}
.icon-groceries:before {
  content: "\e903";
}
.icon-mortgage:before {
  content: "\e904";
}
.icon-investments:before {
  content: "\e905";
}
.icon-hotels:before {
  content: "\e906";
}
.icon-activities:before {
  content: "\e907";
}
.icon-insurance:before {
  content: "\e908";
}
.icon-clothes:before {
  content: "\e909";
}
.icon-running:before {
  content: "\e90a";
}
.icon-daycare:before {
  content: "\e90b";
}
.icon-water:before {
  content: "\e90c";
}
.icon-investment-property:before {
  content: "\e90d";
}
.icon-noun_1090618_cc:before {
  content: "\e90e";
  color: #000;
}
.icon-car:before {
  content: "\e90f";
}
.icon-noun_135_cc2:before {
  content: "\e910";
}
.icon-noun_25717_cc2:before {
  content: "\e911";
}
.icon-noun_36966_cc2:before {
  content: "\e912";
}
.icon-noun_263783_cc2:before {
  content: "\e913";
}
.icon-noun_282069_cc2:before {
  content: "\e914";
}
.icon-noun_445455_cc2:before {
  content: "\e915";
}
.icon-noun_502612_cc2:before {
  content: "\e916";
}
.icon-noun_681874_cc:before {
  content: "\e917";
}
.icon-noun_790998_cc:before {
  content: "\e918";
}
.icon-noun_895558_cc:before {
  content: "\e919";
}
.icon-noun_930402_cc:before {
  content: "\e91a";
}
.icon-noun_977915_cc:before {
  content: "\e91b";
}
.icon-noun_1016931_cc2:before {
  content: "\e91c";
}
.icon-noun_1086989_cc2:before {
  content: "\e91d";
}
.icon-noun_1090618_cc2:before {
  content: "\e91e";
  color: #000;
}
.icon-noun_1102155_cc:before {
  content: "\e91f";
}
.icon-home3:before {
  content: "\e920";
}
.icon-image:before {
  content: "\e921";
}
.icon-camera:before {
  content: "\e922";
}
.icon-video-camera:before {
  content: "\e923";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-coin-dollar:before {
  content: "\e93b";
}
.icon-tv:before {
  content: "\e95b";
}
.icon-download:before {
  content: "\e960";
}
.icon-upload:before {
  content: "\e961";
}
.icon-spinner11:before {
  content: "\e984";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-aid-kit:before {
  content: "\e998";
}
.icon-stats-dots:before {
  content: "\e99b";
}
.icon-stats-bars:before {
  content: "\e99c";
}
.icon-stats-bars2:before {
  content: "\e99d";
}
.icon-gift:before {
  content: "\e99f";
}
.icon-glass:before {
  content: "\e9a0";
}
.icon-mug:before {
  content: "\e9a2";
}
.icon-spoon-knife:before {
  content: "\e9a3";
}
.icon-bin2:before {
  content: "\e9ad";
}
.icon-airplane:before {
  content: "\e9af";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-question:before {
  content: "\ea09";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-amazon:before {
  content: "\ea87";
}
.icon-youtube:before {
  content: "\ea9d";
}
