.checkbox {

  width: 14px;
  height: 14px;
  border: 1px solid $primary_color;
  border-radius: $border_radius;
  transition: 200ms;
  background-color: transparent;
  color: $primary_offset_color;
  font-family: 'bb';
  position: relative;
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }

  &.selected {
    background-color: $primary_color;
  }

  .inner-checkbox {

    width: 100%;
    height: 100%;

    font-size: 11px;
    color: $primary_offset_color;
    position: relative;
    top: 2px;
    left: 1px;

    &::before {
      content: '\ea10';
    }
  }
}
