<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" type="text/css" href="charting.css">
     <!-- <link href="https://fonts.googleapis.com/css?family=Niconne" rel="stylesheet">  -->
  </head>
  <body>
    <div id="app" />
  </body>
</html>
